NodeRED/TablaMultiplicar.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d03c6eddd35c6d08",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "e65072bcb5612756"
            ]
        ]
    },
    {
        "id": "e65072bcb5612756",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "let num = 2;\n\nfor(let i=1;i<=10;i++){\n  resultado = `${num} * ${i} = ${num*i}`;\n  msg.payload = resultado;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "6d29714e25a28c2e"
            ]
        ]
    },
    {
        "id": "6d29714e25a28c2e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 180,
        "wires": []
    }
]